:root {
    --top-space: 2vh;
    --v-space: 5vh;
}

body {
    background-color: #325273;
}

.labelText {
    font-size: 1.9vh;
    color:#ededed;
}

.label {
    font-size: 1.9vh;
    color:#ededed;
    position: relative;
}

.button {
    font-size: 2.2vh;
    background-color: #446b96;
    border: none;
    color: #ededed;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:disabled{
    font-size: 2.2vh;
    background-color: #656d75;
    border: none;
    color: #8e959c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    font-size: 2.2vh;
    background-color: #4576ad;
    border: none;
    color: #ededed;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#mainDiv {
    height: 100%;
    width: 100%;
    display: flex;
}

#menuDiv {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    left: 4vh;
}

#sizeDiv {
    position:fixed; 
    top: var(--top-space);
}

#radiusDiv {
    position:fixed; 
    top: calc(var(--top-space) + var(--v-space));
}

#attemptDiv {
    position:fixed; 
    top: calc(var(--top-space) + 2 * var(--v-space));
}

#limitDiv {
    position:fixed; 
    top: calc(var(--top-space) + 3 * var(--v-space));
}

#buttonDiv {
    position:fixed; 
    top: calc(var(--top-space) + 4 * var(--v-space));
}

#outputMenu {
    position: relative;
    top: 4vh;
}

#outputDiv {
    position: relative;
    width: 40vh;
    height: 48vh;
    top: 5vh;
    left: 0.1vh;
    border: 1px solid black;
    background-color: #2f3c4a;
    color: #ededed;
    overflow: auto;
    text-align: center;
}